.App {
  padding-top: 2rem;
  text-align: center;
}

.SearchForm-wrapper {
  display: flex;
  justify-content: center;
}

.MoviesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.MoviesList-item {
  margin-bottom: 2rem;
  width: 20%;
  padding: 1em;
}

